<%- include('../../includes/functions') %> 
<% product = data.product %>
<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="quickview-big-img">
                            <div class="tab-pane fade show active">
                                <img src="/<%= product.images[0].normal %>" alt="" />
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2><%= product.title %></h2>
                            <div class="pro-details-rating-wrap">
                                <%- include('../../includes/rating', {rating: product.rating, text: product.reviews.length}) %>
                                <span class="read-review">
                                    <a class="reviews" href="/product/<%= product.slug %>">Read reviews (<%= product.reviews.length %>)</a>
                                </span>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <% if (product.discount) { %>
                                        <li class="old-price fs-6">BDT <%= product.price %></li>
                                        <li class="current-price fs-3 fw-normal"><%= discount(product.price, product.discount) %></li>
                                    <% } else { %>
                                        <li class="old-price not-cut">BDT <%= product.price %></li>
                                    <% } %>
                                </ul>
                            </div>
                            <p><%= product.shortDescription %></p>
                            <form action="/add-to-cart" method="post">
                                <div class="pro-details-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="quantity" min="1" value="1" />
                                    </div>
                                    <div class="pro-details-cart btn-hover">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                        <button type="submit"> + Add To Cart</button>
                                    </div>
                                </div>
                            </form>
                            <div class="pro-details-wish-com">
                                <div class="pro-details-wishlist">
                                    <a href="#" class='d-flex align-items-center'>
                                        <ion-icon name="heart-outline" class='fs-5 me-1'></ion-icon>
                                        Add to wishlist
                                    </a>
                                </div>
                            </div>
                            <div class="pro-details-social-info">
                                <span>Share</span>
                                <div class="social-info">
                                    <ul>
                                        <li>
                                            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                                        </li>
                                        <li>
                                            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                                        </li>
                                        <li>
                                            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
                                        </li>
                                        <li>
                                            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->