<!--begin::List Widget 5-->
<div class="card card-xxl-stretch mb-8">
    <!--begin::Header-->
    <div class="card-header align-items-center border-2 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="fw-bolder mb-2 text-dark">Advertisements</span>
        </h3>

        <!-- begin::card toolbar -->
        <div class="card-toolbar">
            <!--begin::Menu-->
            <a href="/<%= process.env.ADMIN_PANEL_PATH %>/ad/add" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end" title="Add Banner">
                <!--begin::Svg Icon -->
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"></rect>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)" x="4" y="11" width="16" height="2" rx="1"></rect>
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </a>
            <!--end::Menu-->
        </div>
        <!-- end::card toolbar -->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-5">
        <% if (data.ads.length < 1) { %>
            <h1>No Advertisement Found</h1>
        <% } else { %>
            <div class="row">
                <% if (data.ads.length > 0) {%>
                    <% data.ads.forEach(ad => { %>
                        <div class="col-md-4">
                            <!-- begin::banner card -->
                            <div class="banner-card">
                                <div class="banner-card__icon">
                                    <form action="<%= `/${process.env.ADMIN_PANEL_PATH}/ad/delete` %>" class="delete-ad">
                                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                        <input type="hidden" name="adId" value="<%= ad._id.toString() %>">
                                        <button type="submit" class="btn btn-active-light-primary btn-color-primary btn-icon btn-light btn-sm">
                                            <!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
                                            <span class="svg-icon svg-icon-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"/>
                                                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"/>
                                                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                                                    </g>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </button>
                                    </form>
                                </div>
    
                                <img src="/<%= ad.image %>" alt="" class="banner-card__image">
                                <a href="<%= `/${process.env.ADMIN_PANEL_PATH}/ad/edit?adId=${ad._id}` %>" class="banner-card__link">
                                    <h3 class="banner-card__heading"><%= ad.slug %></h3>
                                </a>
                            </div>
                            <!-- end::banner card -->
                        </div>
                    <% }) %>
                <% } %>
            </div>
        <% } %>
        
    </div>
    <!--end: Card Body-->
</div>
<!--end: List Widget 5-->