<!-- Breadcrumb Area start -->
<section class="breadcrumb-area" style="background-image: url(/public/frontend/assets/images/breadcrumb-bg/breadcrumb-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading"><%= `${user.firstName} ${user.lastName}` %></h1>
                    <ul class="breadcrumb-links">
                        <li><a href="index.html">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<div class="container mt-50" style="max-width: 800px;">
    <div class="row">
        <div class="col-md-6">
            <form action="/profile" method="post">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <!-- <input type="hidden" name="_id" value="<%= user._id %>"> -->
                <div class="form-group mb-2">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="firstName" value="<%= user.firstName %>">
                </div>
                <div class="form-group mb-2">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" value="<%= user.lastName %>">
                </div>
                <div class="form-group mb-2">
                    <label>Username</label>
                    <input type="text" class="form-control" name="userName" value="<%= user.userName %>" disabled>
                </div>
                <div class="form-group mb-2">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" value="<%= user.email %>">
                </div>
                <button class="btn btn-primary mt-3 w-100">Update Profile</button>
            </form>
        </div>
        <% if (user.cart.items.length > 0) { %>
            <div class="col-md-6">
                <h4 class="mb-4">Your Cart</h4>
                <ul>
                    <% user.cart.items.forEach(item => { %>
                        <% const product = item.productId %>
                        <li class="single-shopping-cart">
                            <div class="shopping-cart-img">
                                <a href="/product/<%= product.slug %>"><img alt="<%= product.title %>"
                                        src="<%= product.images[0].thumb %>" /></a>
                            </div>
                            <div class="align-items-center d-flex justify-content-between shopping-cart-title">
                                <div>
                                    <h4>
                                        <a href="/product/<%= product.slug %>">
                                            <%= product.title.substring(0, 30) %>
                                            <%= product.title.length > 30 && '...' %>
                                        </a>
                                    </h4>
                                    <span><%= Math.round(product.price - product.price * product.discount / 100) %> x <%= item.quantity %></span>
                                </div>
                                <div class="shopping-cart-delete">
                                    <form action="/remove-from-cart" method="post">
                                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <button type="submit" class="bg-transparent border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                    fill="#000000">
                                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) "
                                                        x="0" y="7" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <div class="shopping-cart-total">
                    <p>Subtotal : <span>BDT <%= user.cart.total %></span></p>
                    <p>Shipping : <span>BDT 40</span></p>
                    <p class="shop-total">Total : <span>BDT <%= user.cart.total + 40 %></span></p>
                </div>
                <div class="shopping-cart-btn text-center">
                    <a class="default-btn" href="/checkout">checkout</a>
                </div>
            </div>
        <% } %>
    </div>
</div>
